<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" th:with="titulo='Cadastro de Alunos'" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>

<div class="container">
    <h2 class="titulo">Cadastro de Alunos</h2>

    <div class="card-form">
       
        <div class="card-body" layout:fragment="content">
            <form th:action="@{/alunos}" method="POST" th:object="${aluno}">
                <input type="hidden" th:field="*{id}" class="form-control"/>

                <label for="nome" class="form-label">Nome:</label>
                <input type="text" th:field="*{nome}" class="form-control"/> <br>
                <p class="texto-erro" th:if="${#fields.hasErrors('nome')}" th:errorclass="error" th:errors="*{nome}"></p>

                <label for="matricula" class="form-label">Matrícula:</label>
                <input type="text" th:field="*{matricula}" class="form-control" /> <br>
                <p class="texto-erro" th:if="${#fields.hasErrors('matricula')}" th:errorclass="error" th:errors="*{matricula}"></p>

                <label for="telefone" class="form-label">Telefone:</label>
                <input type="text" th:field="*{telefone}" class="form-control"/> <br>

                <label for="login" class="form-label">Login:</label>
                <input type="text" th:field="*{login}" class="form-control"/> <br>
                <p class="texto-erro" th:if="${#fields.hasErrors('login')}" th:errorclass="error" th:errors="*{login}"></p>

                <label for="senha" class="form-label">Senha:</label>
                <input type="text" th:field="*{senha}" class="form-control"/> <br>
                <p class="texto-erro" th:if="${#fields.hasErrors('senha')}" th:errorclass="error" th:errors="*{senha}"></p>

                <input class="btn btn-outline-primary" type="submit" value="Salvar">
                <a class="btn btn-outline-secondary" th:href="@{/alunos}">Cancelar</a>
            </form>
        </div>
    </div>
</div>
</body>

</html>


