<html>
<head>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/imagens/processo.jpg}" type="image/x-icon">
    <title>Página do Coordenador - Reuniões</title>
</head>
<body>
<div class="logo-bar mb-0 p-3">
        <span class="logo-font">
            <img th:src="@{/imagens/Plutao.png}" class="resized-image" /> Plutao
        </span>
</div>
<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
    <div class="navbar-nav">
        <a class="nav-item nav-link" th:href="@{/coordenador}">Home</a>
    </div>

    <div style="margin-right: 5px;"><a href="#">
        <button class="btn btn-outline-secondary my-2 my-sm-0">Sair</button></a>
    </div>
</nav>

<div class="container">
    <div th:if="${mensagem ne null}" th:text="${mensagem}" class="alert alert-success"></div>

    <div class="card">
        <div class="container">
            <h2 style="margin-top:20px;margin-bottom: 20px;">Painel de Reuniões - [[${coordenador.professor.nome}]]</h2>
            <hr>
            <!--LISTAGEM--->
            <div style="margin: 30px;">
                <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 20px;">
                    <div class="btn-group">
                        <div class="input-group mb-3" style="margin-right: 10px;">
                            <label class="input-group-text" for="filterStatus">Status da Reunião</label>
                            <select class="form-select" id="filterStatus">
                                <option value="" selected>Todos</option>
                                <option value="Encerrada">Encerrada</option>
                                <option value="Programada">Programada</option>
                            </select>
                        </div>
                    </div>
                </div>
                <a th:href="@{reunioes/criar}" class="btn btn-primary justify-self-center">Criar Reunião</a>
                <div role="alert" id="alerta" class="alert d-flex align-items-center alert-dismissible fade show" th:if="${mensagem ne null}">
                    <div th:text="${mensagem}"></div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status da Reunião</th>
                    <th scope="col">Quantidade de Processos</th>
                    <th scope="col">Opções</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reuniao:${reunioes}">
                    <td th:text="${reuniao.id}?:'-'"></td>

                    <td th:if="${reuniao.dataReuniao} == null">-</td>
                    <td th:unless="${reuniao.dataReuniao} == null" th:text="${reuniao.dataReuniao}?:'-'"></td>

                    <td th:text="${reuniao.reuniao}?:'-'"></td>

                    <td th:if="${reuniao.processos} == null">-</td>
                    <td th:unless="${reuniao.processos} == null" th:text="${reuniao.processos.size()}"></td>
                    <td class="d-flex gap-1">
                        <form th:if="${reuniao.reuniao}==${programada}" th:action="@{/coordenador/{coordenadorId}/reunioes/{idReuniao}/iniciar(coordenadorId=${coordenador.id},idReuniao=${reuniao.id})}" method="post" th:object="${reuniao}">
                            <button type="submit" class="btn btn-success">Iniciar</button>
                        </form>
                        <a th:if="${reuniao.reuniao}==${emAndamento}" th:href="@{/coordenador/{coordenadorId}/reunioes/{idReuniao}/painel(coordenadorId=${coordenador.id},idReuniao=${reuniao.id})}" type="button" class="btn btn-success">Entrar</a>
                        <a th:href="@{/coordenador/{coordenadorId}/reunioes/{idReuniao}(coordenadorId=${coordenador.id},idReuniao=${reuniao.id})}" type="button" class="btn btn-primary">Consultar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script th:src="@{/js/bootstrap.buddle.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- FILTRO POR STATUS-->
<script>
    $(document).ready(function () {
        $('#filterStatus, #filterAluno, #filterRelator').on('change', function () {
            var status = $('#filterStatus').val().toLowerCase();
            var aluno = $('#filterAluno').val().toLowerCase();
            var relator = $('#filterRelator').val().toLowerCase();
            filterTable(status, aluno, relator);
        });

        function filterTable(status, aluno, relator) {
            var rows = $('table tbody tr');
            rows.show();

            rows.filter(function () {
                var text = $(this).text().toLowerCase();
                return (status && text.indexOf(status) === -1) || (aluno && text.indexOf(aluno) === -1) || (relator && text.indexOf(relator) === -1);
            }).hide();
        }
    });
</script>

</body>
</html>
