<!doctype>
<html lang="pt_BR" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:insert="~{/fragments/base :: headfiles(${titulo})}">
    <link rel="stylesheet" href="">
    </meta>
</head>

<body>
    <div th:replace="~{/fragments/base :: header}" />

    <div class="container">
        <h2 class="titulo">Cadastro de Alunos</h2>
        <div class="card-form">
            <div class="card-body" layout:fragment="content">
                <!-- Corpo da página entra aqui -->
            </div>









        </div>
    </div>

</body>
</html>